<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {pageTitle: 'Quan ly sach'}) %>
<body>
    <div class="container">
        <%- include('../layout/navbar.ejs') %>
        <div class="card mt-2">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h1 class="p-0">Book List</h1>
                <a href="/admin/books/create" class="btn btn-success">Add new</a>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Author</th>
                        <th></th>
                    </tr>
                    <% data.forEach((item, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= item.book_name %></td>
                            <td><%= item.price %></td>
                            <td><%= item.author_name %></td>
                            <td><a class="btn btn-danger" href="/admin/books/<%= item.id_book %>/delete">Delete</a></td>
                        </tr> 
                    <% }) %>
                </table>
             </div>
        </div>
    </div>
   
</body>
</html>